.navbar {
  top: 0;
  position: fixed;
  max-width: 100vw;
  transition: all 305ms;
  width: 100vw;
  z-index: 1000; }
  .navbar .navbar-menu {
    align-items: flex-start; }
  .navbar .navbar-nav {
    align-items: center; }
  .navbar .active {
    border-bottom: 5px solid #082c57; }
    .navbar .active .link {
      color: #082c57 !important; }
  .navbar .nav-item {
    margin-left: 23px; }
    .navbar .nav-item .link {
      font-size: 1.3em;
      font-weight: 600;
      color: #ffffff;
      text-decoration: none;
      padding: .5rem .5rem;
      display: block;
      text-transform: uppercase; }
      .navbar .nav-item .link:hover {
        color: #082c57; }
    .navbar .nav-item h4 {
      margin: 0px;
      color: #ffffff; }

@media (max-width: 500px) {
  .navbar {
    position: relative; } }

.menu-hover {
  background-color: rgba(253, 148, 38, 0.7);
  font-size: 80%;
  font-weight: 400; }
  .menu-hover .navbar-brand img {
    width: 40% !important; }
  .menu-hover .navbar-menu {
    align-items: center !important; }

@media screen and (max-width: 800px) {
  .navbar-toggler {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none; }
  .navbar-brand {
    margin-left: 55px;
    margin-right: 0px; } }

#search {
  margin-top: 15px; }
  #search .input-group {
    border: 1px solid #ced4da; }
  #search #formSearch {
    background-color: #e0e0e0;
    height: 68px; }
    #search #formSearch i {
      color: #0b72f0; }
  #search .form-control {
    border: 0px !important;
    outline-style: none;
    box-shadow: none;
    border-color: transparent; }
  #search .input-group-text {
    border: 0px !important; }
  #search .btn {
    border: 0px !important;
    padding: 0px !important; }
    #search .btn #formSearch:hover {
      background-color: #e5e5e5; }

.destaques {
  margin-top: 40px; }
  .destaques .meninos {
    color: #0b72f0; }
  .destaques .meninas {
    color: #f15092; }
  .destaques .unisex {
    color: #fd7202; }
  .destaques .cima {
    margin-bottom: 32px; }
  .destaques .baixo {
    margin-top: 32px; }
  .destaques h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase; }

@media (max-width: 500px) {
  #destaques {
    background-image: none !important; }
  .brinquedos {
    padding-top: 0px !important;
    display: block !important; } }

#destaques {
  background-image: url(../img/middle-2.jpg);
  background-size: 100%;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-repeat: no-repeat; }

.brinquedos {
  display: flex;
  align-items: center;
  padding-top: 335px; }
  .brinquedos h2 {
    color: #ffffff;
    font-size: 2.8em;
    font-weight: bold;
    text-transform: uppercase; }
  .brinquedos p {
    color: #ffffff; }
  .brinquedos .btn-alert {
    background-color: #fd7202;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: 500;
    padding: .8rem 2rem; }
    .brinquedos .btn-alert:hover {
      background-color: #e46702; }
  .brinquedos h2, .brinquedos p, .brinquedos .btn-alert {
    margin-left: 80px; }

.brinquedos-2 {
  display: flex;
  align-items: center;
  padding-top: 100px; }
  .brinquedos-2 h2 {
    color: #ffffff;
    font-size: 2.8em;
    font-weight: bold;
    text-transform: uppercase; }
  .brinquedos-2 p {
    color: #ffffff; }
  .brinquedos-2 .btn-alert {
    background-color: #fd7202;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: 500;
    padding: .8rem 2rem; }
    .brinquedos-2 .btn-alert:hover {
      background-color: #e46702; }
  .brinquedos-2 h2, .brinquedos-2 p, .brinquedos-2 .btn-alert {
    margin-left: 80px; }

.cassino {
  margin-top: 100px; }

.footer {
  margin-top: 1150px;
  text-align: center;
  padding-bottom: 30px; }
  .footer a {
    text-decoration: none;
    color: #ffffff; }
  .footer h2 {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .footer p {
    color: #ffffff;
    margin: 0px;
    font-size: 1em; }
  .footer h3 {
    color: #ffffff; }
  .footer .social {
    padding: 30px 0;
    display: flex;
    justify-content: space-between; }
    .footer .social i {
      margin: 0px 22px; }
    .footer .social a {
      color: #ffffff; }
      .footer .social a:hover {
        color: #ffffff; }
    .footer .social hr {
      width: 100%;
      border-color: #ffffff; }

#footer {
  background-image: url(../img/footer-paginas.jpg);
  background-size: 100%;
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-repeat: no-repeat; }

#footer-mobile {
  display: none; }

.img-assintura {
  margin-top: 10px; }

#footer-paginas h2 {
  color: #ffde00; }

#footer-paginas .fa {
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #abbed1;
  color: #91268f;
  border-radius: 100%;
  margin: 0 10px; }

@media screen and (max-width: 1889px) {
  .cassino {
    margin-top: 50px; } }

@media screen and (max-width: 1853px) {
  .cassino {
    margin-top: 20px; } }

@media screen and (max-width: 1843px) {
  .footer {
    margin-top: 1100px;
    padding-bottom: 80px; } }

@media screen and (max-width: 1820px) {
  .footer {
    margin-top: 1050px !important;
    padding-bottom: 65px; } }

@media screen and (max-width: 1805px) {
  .footer {
    margin-top: 1100px !important;
    padding-bottom: 65px; }
  .brinquedos-2 {
    padding-top: 50px; } }

@media screen and (max-width: 1781px) {
  .footer {
    margin-top: 1050px !important;
    padding-bottom: 65px; } }

@media screen and (max-width: 1756px) {
  .footer {
    margin-top: 1010px !important;
    padding-bottom: 65px; } }

@media screen and (max-width: 1722px) {
  .footer {
    margin-top: 1000px !important;
    padding-bottom: 20px; }
  .brinquedos {
    padding-top: 300px; } }

@media screen and (max-width: 1696px) {
  .footer {
    margin-top: 950px !important;
    padding-bottom: 20px; } }

@media screen and (max-width: 1668px) {
  .footer {
    margin-top: 950px !important;
    padding-bottom: 40px; }
  .brinquedos {
    padding-top: 250px; } }

@media screen and (max-width: 1643px) {
  .footer {
    margin-top: 888px !important; } }

@media screen and (max-width: 1615px) {
  .footer {
    margin-top: 890px !important; }
  .brinquedos {
    padding-top: 200px; } }

@media screen and (max-width: 1585px) {
  .footer {
    margin-top: 850px !important;
    padding-bottom: 30px; } }

@media screen and (max-width: 1565px) {
  .footer {
    margin-top: 800px !important;
    padding-bottom: 25px; }
  .brinquedos-2, .brinquedos {
    display: flex;
    justify-content: flex-end; } }

@media screen and (max-width: 1538px) {
  .footer {
    margin-top: 760px !important;
    padding-bottom: 30px; } }

@media screen and (max-width: 1517px) {
  .footer {
    margin-top: 760px !important; }
  .destaques {
    margin-top: 10px; } }

@media screen and (max-width: 1500px) {
  .footer {
    margin-top: 725px !important; } }

@media screen and (max-width: 1480px) {
  #destaques {
    background-image: url(../img/middle.jpg); }
  .footer {
    margin-top: 720px !important; }
  .brinquedos {
    padding-top: 280px; } }

@media screen and (max-width: 1465px) {
  #destaques {
    background-image: url(../img/middle.jpg); }
  .footer {
    margin-top: 700px !important;
    padding-bottom: 20px; } }

@media screen and (max-width: 1450px) {
  #destaques {
    background-image: url(../img/middle.jpg); }
  .footer {
    margin-top: 750px !important; }
  .brinquedos-2 {
    padding-top: 30px; } }

@media screen and (max-width: 1445px) {
  #destaques {
    background-image: url(../img/middle.jpg); }
  .footer {
    margin-top: 720px !important; }
  .brinquedos-2 {
    padding-top: 30px; } }

@media screen and (max-width: 1433px) {
  #destaques {
    background-image: url(../img/middle.jpg); }
  .footer {
    margin-top: 700px !important; }
  .brinquedos-2 {
    padding-top: 20px; } }

@media screen and (max-width: 1419px) {
  #destaques {
    background-image: url(../img/middle.jpg); }
  .footer {
    margin-top: 700px !important;
    padding-bottom: 20px; }
  .brinquedos-2 {
    padding-top: 10px; } }

@media screen and (max-width: 1403px) {
  #destaques {
    background-image: url(../img/middle.jpg); }
  .footer {
    margin-top: 690px !important;
    padding-bottom: 10px; }
  .brinquedos-2 {
    padding-top: 10px; } }

@media screen and (max-width: 1392px) {
  #destaques {
    background-image: url(../img/middle.jpg); }
  .footer {
    margin-top: 945px !important;
    padding-bottom: 10px; }
  .brinquedos-2 {
    padding-top: 50px;
    max-width: 905px; }
  .brinquedos {
    max-width: 905px;
    padding-top: 160px; } }

@media screen and (max-width: 1382px) {
  #destaques {
    background-image: url(../img/middle.jpg); }
  .footer {
    margin-top: 780px !important;
    padding-bottom: 10px; }
  .brinquedos-2 {
    padding-top: 50px; } }

@media screen and (max-width: 1373px) {
  #destaques {
    background-image: url(../img/middle.jpg); }
  .footer {
    margin-top: 760px !important;
    padding-bottom: 10px; }
  .brinquedos-2 {
    padding-top: 50px; } }

@media screen and (max-width: 1365px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 740px !important;
    padding-bottom: 10px; }
  .brinquedos-2 {
    padding-top: 50px; } }

@media screen and (max-width: 1365px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 940px !important; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 50px; } }

@media screen and (max-width: 1348px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 900px !important; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 50px; } }

@media screen and (max-width: 1327px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 820px !important;
    padding-bottom: 20px; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 50px; } }

@media screen and (max-width: 1295px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 760px !important;
    padding-bottom: 20px; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 50px; } }

@media screen and (max-width: 1230px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 620px !important;
    padding-bottom: 0px; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 50px; } }

@media screen and (max-width: 1171px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 540px !important;
    padding-bottom: 0px; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 50px; } }

@media screen and (max-width: 1134px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 480px !important;
    padding-bottom: 0px; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 50px; } }

@media screen and (max-width: 1104px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 420px !important;
    padding-bottom: 0px; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 50px; } }

@media screen and (max-width: 1075px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 500px !important;
    padding-bottom: 0px; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 50px; } }

@media screen and (max-width: 1056px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 500px !important;
    padding-bottom: 0px; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 40px; } }

@media screen and (max-width: 1045px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 480px !important;
    padding-bottom: 0px; }
    .footer h2 {
      margin-bottom: 30px; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 30px; } }

@media screen and (max-width: 1017px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 480px !important;
    padding-bottom: 0px; }
    .footer h2 {
      margin-bottom: 30px; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 20px; } }

@media screen and (max-width: 1003px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 440px !important;
    padding-bottom: 0px; }
    .footer h2 {
      margin-bottom: 30px; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 20px; } }

@media screen and (max-width: 991px) {
  #destaques {
    background-image: url(../img/middle-3.jpg); }
  .footer {
    margin-top: 560px !important;
    padding-bottom: 0px; }
    .footer h2 {
      margin-bottom: 30px; }
    .footer .social {
      padding-bottom: 30px; }
  .brinquedos-2 {
    padding-top: 20px; } }

#brinquedos-mobile {
  display: none; }

@media screen and (max-width: 991px) {
  #footer {
    background-image: url(../img/footer-mobile.jpg) !important;
    background-attachment: fixed;
    background-size: cover; }
  #destaques {
    background-image: none; }
    #destaques .brinquedos-desktop, #destaques .footer-desktop {
      display: none !important; }
  .footer-mobile {
    display: block !important; }
  #brinquedos-mobile {
    display: block !important;
    background-image: url(../img/background-middle-3.jpg);
    height: 100%;
    background-color: #fffee6;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0px 0 100px 0;
    background-color: #1483D1 !important;
    margin-top: 50px; }
    #brinquedos-mobile .brinquedos {
      margin: 50px 0; }
      #brinquedos-mobile .brinquedos h2, #brinquedos-mobile .brinquedos p {
        margin-left: 0px !important; }
      #brinquedos-mobile .brinquedos h2 {
        text-align: center !important; }
  .footer {
    margin-top: 540px !important;
    padding-bottom: 0px; } }

#img-criancas-mobile {
  display: none; }

.footer-mobile {
  display: none; }

@media screen and (max-width: 991px) {
  #img-criancas-mobile {
    display: block !important; }
    #img-criancas-mobile .col {
      padding: 0px; } }

@media screen and (max-width: 800px) {
  #produtos-detalhes h2 {
    font-size: 2em !important; } }

@media screen and (max-width: 500px) {
  #form-contato .nav-item:nth-of-type(1) {
    margin: 0px !important; }
  #paginacao .p1 .numero {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important; } }

/* Footer Paginas */
@media screen and (min-width: 1801px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer {
      margin-top: 175px !important;
      padding-bottom: 10px !important; } }

@media screen and (max-width: 1800px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer {
      margin-top: 170px !important;
      padding-bottom: 15px !important; } }

@media screen and (max-width: 1729px) {
  #footer .footer {
    margin-top: 165px !important;
    padding-bottom: 20px !important; } }

@media screen and (max-width: 1678px) {
  #footer .footer {
    margin-top: 160px !important;
    padding-bottom: 15px !important; } }

@media screen and (max-width: 1643px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer {
      margin-top: 180px !important;
      padding-bottom: 20px !important; } }

@media screen and (max-width: 1403px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer {
      margin-top: 160px !important;
      padding-bottom: 20px !important; } }

@media screen and (max-width: 1337px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer {
      margin-top: 150px !important;
      padding-bottom: 20px !important; } }

@media screen and (max-width: 1289px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer {
      margin-top: 130px !important;
      padding-bottom: 17px !important; } }

@media screen and (max-width: 1256px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer {
      margin-top: 120px !important;
      padding-bottom: 17px !important; }
      #footer .footer h2 {
        margin-bottom: 30px; } }

@media screen and (max-width: 1200px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer {
      margin-top: 110px !important;
      padding-bottom: 10px !important; } }

@media screen and (max-width: 1185px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer {
      margin-top: 110px !important;
      padding-bottom: 10px !important; }
      #footer .footer h2 {
        margin-bottom: 20px; } }

@media screen and (max-width: 1132px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer {
      margin-top: 100px !important;
      padding-bottom: 10px !important; }
      #footer .footer h2 {
        margin-bottom: 20px; } }

@media screen and (max-width: 1112px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer {
      margin-top: 100px !important;
      padding-bottom: 10px !important; }
      #footer .footer h2 {
        margin-bottom: 10px; }
      #footer .footer .social {
        padding: 15px; } }

@media screen and (max-width: 1012px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer {
      margin-top: 90px !important;
      padding-bottom: 20px !important; } }

@media screen and (max-width: 982px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer h2 {
      margin-bottom: 10px; }
    #footer .footer .social {
      padding: 10px; }
    #footer .footer .img-assintura {
      margin-top: 5px; } }

@media screen and (max-width: 982px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer {
      margin-top: 80px !important;
      padding-bottom: 0px !important; }
      #footer .footer .social .fa {
        font-size: 1.5em;
        width: 40px;
        height: 40px;
        line-height: 40px; } }

@media screen and (max-width: 870px) {
  #footer {
    background-image: url(../img/footer-paginas-2.jpg); }
    #footer .footer h2, #footer .footer h3 {
      font-size: 1.5em; }
    #footer .footer .social {
      padding: 10px; } }

@media screen and (max-width: 800px) {
  #footer-mobile {
    display: block; }
  #footer {
    background-image: url(../img/footer-mobile.jpg);
    background-attachment: fixed;
    background-size: cover; }
    #footer .footer {
      margin: 50px 0 !important; }
  .navbar {
    background-color: #fd9426; }
  .selos {
    display: block !important; }
  .idade, .inmetro {
    display: flex; }
    .idade p, .inmetro p {
      margin-right: 0px !important; }
  .idade {
    margin-bottom: 50px; }
  #detalhes-produto {
    margin-top: 50px !important; }
  .especificacoes-produto .titulo {
    margin-top: 50px; }
  #especificacoes-tecnicas .especificacoes {
    display: block !important; }
    #especificacoes-tecnicas .especificacoes .referencia, #especificacoes-tecnicas .especificacoes .tamanho, #especificacoes-tecnicas .especificacoes .peso, #especificacoes-tecnicas .especificacoes .ean {
      border-bottom: 2px solid #c2c2c2; }
  #inmetro-2 {
    display: block !important;
    margin: 50px 0; }
    #inmetro-2 .img-inmetro {
      justify-content: center;
      display: flex; }
  /*.menu-hover{
		font-size: 100%;
    	font-weight: normal;
	}*/ }

#inmetro-2, #inmetro {
  display: none; }

@media screen and (min-width: 801px) {
  #inmetro {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; } }

/* Ajustes Mobile */
@media screen and (max-width: 330px) {
  #form-contato .nav-item {
    padding: 0 15px !important; }
  .contatos .email h4 {
    font-size: 0.8em !important; }
  #bg-menu-detalhes-produto h1, #bg-menu-produtos-meninos h1 {
    font-size: 2em !important; }
  #brinquedos-mobile .brinquedos .btn-alert {
    margin-left: 50px !important; }
  #brinquedos-mobile .brinquedos p {
    text-align: center !important; }
  #footer .footer .social .fa {
    margin: 0px !important; }
  #detalhes-produto .btn-alert {
    display: none !important; }
  #paginacao .anterior, #paginacao .proximo {
    font-size: 0.7em !important; } }

#bg-menu-produtos {
  background-image: url(../img/bg-menu-produtos.jpg);
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #FFFEE6; }
  #bg-menu-produtos h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 180px 0 100px 0;
    font-size: 5rem;
    color: #91268f; }

#bg-menu .col {
  padding: 0px; }

@media screen and (max-width: 800px) {
  #bg-menu-produtos {
    background-image: none !important;
    background-color: #ffffff; }
    #bg-menu-produtos h1 {
      padding: 50px 0 30px 0;
      font-size: 3em; } }

#bg-menu-produtos-meninos {
  background-image: url(../img/bg-menu-produtos.jpg);
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #FFFEE6; }
  #bg-menu-produtos-meninos h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 180px 0 100px 0;
    font-size: 5rem;
    color: #91268f; }

#produtos-detalhes {
  margin-top: 70px; }
  #produtos-detalhes .titulo-detalhes-produtos {
    display: flex;
    align-items: center;
    align-content: center; }
  #produtos-detalhes h2 {
    font-weight: bold;
    color: #91268f;
    font-size: 3em;
    margin: 0 20px; }
  #produtos-detalhes hr {
    width: 100%;
    border-color: #91268f; }

#galeria-produtos .img-produto-unico {
  border: 2px solid #c2c2c2;
  margin-top: 50px; }

#galeria-produtos .descricao-produto-unixo {
  margin-top: 20px;
  text-align: center; }
  #galeria-produtos .descricao-produto-unixo a {
    text-decoration: none; }
  #galeria-produtos .descricao-produto-unixo span {
    color: #0b72f0;
    font-size: 1.2em; }
  #galeria-produtos .descricao-produto-unixo h4 {
    color: #0b72f0;
    font-size: 1.2em;
    font-weight: bold; }
  #galeria-produtos .descricao-produto-unixo p {
    font-size: 1em;
    color: #8f8f8f; }

@media screen and (max-width: 800px) {
  #bg-menu-produtos-meninos {
    background-image: none !important;
    background-color: #ffffff; }
    #bg-menu-produtos-meninos h1 {
      padding: 50px 0 30px 0;
      font-size: 3em; } }

/* Hover Imagem */
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.img-produto-unico:hover .image {
  opacity: 0.3; }

.img-produto-unico:hover .middle {
  opacity: 1; }

.text {
  background-color: #0b72f0;
  color: white;
  font-size: 16px;
  padding: 16px 32px; }

#myCarousel .carousel-item img, #myCarousel .list-inline-item img {
  border: 2px solid #c2c2c2; }

#myCarousel .list-inline {
  white-space: nowrap;
  /*overflow-x:auto;*/ }

#myCarousel .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-left: initial; }

#myCarousel .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial; }

#myCarousel .carousel-indicators > li.active img {
  opacity: 0.7; }

.carousel-control.left {
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }

.carousel-control.right {
  right: 0;
  left: auto;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }

.carousel-control .fa {
  color: #0b72f0; }

.carousel-control .fa-chevron-left {
  margin-right: 40px; }

.carousel-control .fa-chevron-right {
  margin-left: 25px; }

.carousel-control {
  top: 400px;
  position: absolute;
  padding-top: 0px !important;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  opacity: .5; }

.carousel-indicators {
  margin-right: 0px;
  margin-top: 20px; }

#slider a {
  text-decoration: none;
  color: #ffffff; }

#slider .btn-alert {
  background-color: #fd7202;
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  padding: .8rem 2rem;
  text-transform: uppercase; }
  #slider .btn-alert:hover {
    background-color: #e46702; }

#bg-menu-detalhes-produto {
  background-image: url(../img/bg-menu-produtos.jpg);
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #FFFEE6; }
  #bg-menu-detalhes-produto h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 180px 0 100px 0;
    font-size: 5rem;
    color: #91268f; }

#detalhes-produto {
  margin-top: 90px; }
  #detalhes-produto .titulo-mobile {
    display: none; }
    #detalhes-produto .titulo-mobile h2 {
      font-size: 3em;
      color: #0b72f0;
      font-weight: bold; }
    #detalhes-produto .titulo-mobile hr {
      border-color: #0b72f0; }
  #detalhes-produto .especificacoes-produto .titulo h2 {
    font-size: 3em;
    color: #0b72f0;
    font-weight: bold; }
  #detalhes-produto .especificacoes-produto .titulo hr {
    border-color: #0b72f0; }
  #detalhes-produto .especificacoes-produto .selos, #detalhes-produto .especificacoes-produto .idade, #detalhes-produto .especificacoes-produto .inmetro {
    display: flex; }
  #detalhes-produto .especificacoes-produto .idade p, #detalhes-produto .especificacoes-produto .inmetro p {
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 0px; }
  #detalhes-produto .especificacoes-produto .idade p {
    background-color: rgba(253, 114, 2, 0.3);
    margin-right: 50px;
    margin-left: -10px; }
  #detalhes-produto .especificacoes-produto .inmetro p {
    background-color: rgba(173, 173, 173, 0.3);
    margin-right: 40px;
    margin-left: -10px;
    text-transform: uppercase; }
  #detalhes-produto .especificacoes-produto .selos {
    margin-top: 30px; }
  #detalhes-produto .especificacoes-produto .laranja {
    color: #fd7202; }

#especificacoes-tecnicas {
  margin-top: 50px; }
  #especificacoes-tecnicas .titulo h2 {
    font-size: 2em;
    color: #0b72f0;
    font-weight: bold; }
  #especificacoes-tecnicas .titulo hr {
    border-color: #0b72f0; }
  #especificacoes-tecnicas .especificacoes {
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: #edf5fd;
    border: 2px solid #c2c2c2; }
    #especificacoes-tecnicas .especificacoes .referencia, #especificacoes-tecnicas .especificacoes .tamanho, #especificacoes-tecnicas .especificacoes .peso, #especificacoes-tecnicas .especificacoes .ean {
      border-right: 2px solid #c2c2c2; }
    #especificacoes-tecnicas .especificacoes .referencia, #especificacoes-tecnicas .especificacoes .tamanho, #especificacoes-tecnicas .especificacoes .peso, #especificacoes-tecnicas .especificacoes .ean, #especificacoes-tecnicas .especificacoes .ncm {
      padding: 20px;
      flex: 1; }
      #especificacoes-tecnicas .especificacoes .referencia .fa, #especificacoes-tecnicas .especificacoes .tamanho .fa, #especificacoes-tecnicas .especificacoes .peso .fa, #especificacoes-tecnicas .especificacoes .ean .fa, #especificacoes-tecnicas .especificacoes .ncm .fa {
        color: #fd7202;
        margin-right: 10px; }
        #especificacoes-tecnicas .especificacoes .referencia .fa span, #especificacoes-tecnicas .especificacoes .tamanho .fa span, #especificacoes-tecnicas .especificacoes .peso .fa span, #especificacoes-tecnicas .especificacoes .ean .fa span, #especificacoes-tecnicas .especificacoes .ncm .fa span {
          color: #0b72f0;
          font-family: 'Raleway', sans-serif;
          font-weight: bold; }
      #especificacoes-tecnicas .especificacoes .referencia p, #especificacoes-tecnicas .especificacoes .tamanho p, #especificacoes-tecnicas .especificacoes .peso p, #especificacoes-tecnicas .especificacoes .ean p, #especificacoes-tecnicas .especificacoes .ncm p {
        font-family: sans-serif;
        font-weight: 300;
        color: #c2c2c2;
        margin-left: 18px;
        font-size: 1.07em; }

@media screen and (max-width: 800px) {
  #bg-menu-detalhes-produto {
    background-image: none !important;
    background-color: #ffffff; }
    #bg-menu-detalhes-produto h1 {
      padding: 50px 0 30px 0;
      font-size: 3em; }
  .titulo-mobile {
    display: block !important;
    margin-bottom: 40px; }
  #detalhes-produto .titulo {
    display: none; }
  #detalhes-produto .descricao {
    margin-top: 40px; }
  #especificacoes-tecnicas {
    margin-bottom: 40px; }
    #especificacoes-tecnicas .ean, #especificacoes-tecnicas .peso, #especificacoes-tecnicas .tamanho, #especificacoes-tecnicas .referencia {
      border-right: 0px !important; } }

#paginacao {
  margin-top: 50px;
  /* GENERAL STYLES */
  /* ONE */ }
  #paginacao .pagination {
    padding: 30px 0; }
  #paginacao .pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  #paginacao .pagination a {
    display: inline-block;
    padding: 10px 18px;
    color: #abbed1; }
  #paginacao .p1 .numero {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    border: 1px solid #abbed1;
    color: #abbed1;
    border-radius: 100%;
    margin: 0 10px; }
    #paginacao .p1 .numero:hover {
      background-color: #abbed1;
      border-radius: 100%;
      color: #fff; }
  #paginacao .p1 .numero.is-active {
    background-color: #abbed1;
    border-radius: 100%;
    color: #fff; }
  #paginacao .anterior {
    border: 0px !important; }
  #paginacao .proximo {
    border: 0px !important; }

@media screen and (max-width: 800px) {
  .anterior {
    padding: 0px !important; }
  .proximo {
    padding: 0px !important; } }

#conteudo-representantes {
  background-image: url(../img/background-representantes.jpg);
  height: 100%;
  background-color: #fffee6;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 154px 0 310px 0;
  background-color: #ffffff; }
  #conteudo-representantes .conteudo {
    text-align: center; }
    #conteudo-representantes .conteudo p {
      margin: 0px;
      text-align: center;
      font-size: 1.5em;
      color: #8aa5bf; }
    #conteudo-representantes .conteudo .btn-primary {
      padding: 5px 40px;
      background-color: #3395ff;
      margin-top: 75%; }
      #conteudo-representantes .conteudo .btn-primary:hover {
        background-color: #0062cc; }

#botao-entrar-mobile .img-representantes {
  display: none; }

#botao-entrar-mobile .botao-entrar-mobile {
  display: none; }

@media screen and (max-width: 800px) {
  #conteudo-representantes {
    background-image: none;
    padding: 50px; }
    #conteudo-representantes .btn-primary {
      display: none; }
  #botao-entrar-mobile .img-representantes {
    display: block; }
  #botao-entrar-mobile .botao-entrar-mobile {
    display: block; }
    #botao-entrar-mobile .botao-entrar-mobile .btn-primary {
      padding: 5px 40px;
      background-color: #3395ff;
      margin: 50px 0; }
      #botao-entrar-mobile .botao-entrar-mobile .btn-primary:hover {
        background-color: #0062cc; } }

#empresa-desktop {
  background-image: url(../img/background-empresa.jpg);
  height: 100%;
  background-color: #fffee6;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 154px 0 310px 0;
  background-color: #ffffff; }
  #empresa-desktop .empresa {
    display: flex;
    padding: 0 70px; }
    #empresa-desktop .empresa h4 {
      color: #91268f; }
    #empresa-desktop .empresa p {
      font-size: .9em; }
    #empresa-desktop .empresa strong {
      color: #656565; }

@media screen and (max-width: 800px) {
  .titulo-valores-mobile {
    display: block !important; }
  .titulo-valores {
    display: none !important; } }

#valores-empresa {
  margin-top: 20px;
  display: flex; }

.titulo-valores-mobile {
  display: none; }

#empresa-mobile {
  display: none; }

/* Media Queries */
@media screen and (max-width: 1200px) {
  #empresa-desktop {
    display: none; }
  #empresa-mobile {
    display: block;
    background-image: url(../img/background-empresa.jpg);
    height: 100%;
    background-color: #fffee6;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 154px 0 200px 0; }
    #empresa-mobile .empresa {
      display: flex;
      padding: 0 5%; }
      #empresa-mobile .empresa h4 {
        color: #91268f; }
      #empresa-mobile .empresa p {
        font-size: .9em; }
      #empresa-mobile .empresa strong {
        color: #656565; } }

#historia-mobile {
  display: none; }

@media screen and (max-width: 624px) {
  #empresa-mobile {
    display: none; }
  #historia-mobile {
    display: block; } }

#form-contato {
  background-image: url(../img/background-form-contato.jpg);
  height: 100%;
  padding: 15px 0 50px 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #FFFEE6; }
  #form-contato .contatos {
    margin-top: 110px; }
    #form-contato .contatos h2 {
      color: #ffffff;
      font-weight: bold; }
    #form-contato .contatos hr {
      border: 5px solid rgba(255, 255, 255, 0.2);
      border-radius: 5px; }
    #form-contato .contatos .fa {
      font-size: 1.5em;
      width: 40px;
      height: 40px;
      line-height: 40px;
      padding: 0;
      background-color: #ffffff;
      text-align: center;
      border: 1px solid #abbed1;
      color: #fc6b21;
      border-radius: 100%;
      border-color: #ffffff;
      margin: 0 10px; }
    #form-contato .contatos .telefone, #form-contato .contatos .email, #form-contato .contatos .endereco {
      display: flex;
      align-items: center; }
      #form-contato .contatos .telefone h4, #form-contato .contatos .email h4, #form-contato .contatos .endereco h4 {
        color: #ffffff; }
      #form-contato .contatos .telefone hr, #form-contato .contatos .email hr, #form-contato .contatos .endereco hr {
        border: 5px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px; }
    #form-contato .contatos .telefone, #form-contato .contatos .email {
      margin-bottom: 20px; }
  #form-contato .nav-item > .active {
    background-color: transparent; }
  #form-contato .nav-item:nth-of-type(1) {
    background-image: linear-gradient(180deg, #ff4500, #ff6900);
    padding: 0 25px;
    margin: 0 30px 0 0px;
    border-radius: 10px; }
  #form-contato .nav-item:nth-of-type(2) {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 25px;
    background-image: linear-gradient(180deg, #ff8130, #ff6900);
    border-radius: 10px; }
  #form-contato .nav-item {
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold; }
  #form-contato .nav-link {
    color: #ffffff; }
  #form-contato .tab-content {
    margin-top: 50px; }
    #form-contato .tab-content .form-group input, #form-contato .tab-content .form-group textarea {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: rgba(255, 255, 255, 0.2);
      color: #ffffff;
      border: 0px !important;
      outline-style: none;
      box-shadow: none;
      border-color: transparent; }
    #form-contato .tab-content .btn {
      padding: 15px 50px;
      background-color: #3395ff;
      border: 0px;
      font-weight: bold; }
  #form-contato ::-webkit-input-placeholder {
    color: #ffffff; }
  #form-contato :-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff; }
  #form-contato ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff; }
  #form-contato :-ms-input-placeholder {
    color: #ffffff; }

#maps .col {
  padding: 0px; }

/* Media Queries Formulario */
@media screen and (max-width: 1129px) {
  #form-contato .nav-item {
    margin-left: 0px; } }

@media screen and (max-width: 1056px) {
  #form-contato .email h4 {
    font-size: 1em; } }

@media screen and (max-width: 900px) {
  #form-contato {
    background-color: #ff3900; } }

body {
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff !important; }
